
<!--Section: FAQ-->
<section>
    <h1 class="text-center mb-4 pb-2 text-danger fw-bold">FAQ</h1>
    <h3 class="text-center mb-5 fw-bold text-light">
      Find the answers for the most frequently asked questions below
    </h3>
  
    <div class="row">
      <div class="col-md-6 col-lg-4 mb-4">
        <h2 class="mb-3 text-danger fw-bold"><i class="far fa-paper-plane text-primary pe-2"></i> How to create account</h2>
        <p class="text-light  fw-bold">
         To Create Account,go on the the home page click on register.Provide all the details and sign up.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h2 class="mb-3 text-danger fw-bold"><i class="fas fa-pen-alt text-primary pe-2"></i> 
          how to upload the post</h2>
        <p class="text-light fw-bold">
        To upload posts,go on my profile and click on upload post select the picture you want to upload and click upload.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h2 class="mb-3 text-danger fw-bold"><i class="fas fa-user text-primary pe-2"></i>How to apply for concerts??
        </h2>
        <p class="text-light fw-bold">
          To apply for concerts,go to the post click on register then provide all your details
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h2 class="mb-3 text-danger fw-bold"><i class="fas fa-rocket text-primary pe-2"></i>Forgot Passwors?Don,t Worry!!
        </h2>
        <p class="text-light fw-bold">
         Incase you have forgooten your password just go on the log-in page click on forgot password and continue the procedure.
        </p>
      </div>
  
      <div class="col-md-6 col-lg-4 mb-4">
        <h2 class="mb-3 text-danger fw-bold"><i class="fas fa-home text-primary pe-2"></i> For any other queries?
        </h2>
        <p class="text-light fw-bold"><strong><u>www.Meetartist.com</u>.</strong> For any other queries reach out to us on our email.</p>
      </div>
  
      <!-- <div class="col-md-6 col-lg-4 mb-4">
        <h6 class="mb-3 text-primary"><i class="fas fa-book-open text-primary pe-2"></i> Another
          question that is longer than usual</h6>
        <p>
          Of course! We’re happy to offer a free plan to anyone who wants to try our service.
        </p>
      </div> -->
    </div>
  </section>
  <!--Section: FAQ-->